*,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    display: none;
}

body p::selection,
body a::selection,
body label::selection,
body button::selection,
body input::selection {
    background-color: transparent;
}

/* IMPORT FONT */

@font-face {
    font-family: NexaE;
    src: url(./Font/Nexa-ExtraLight.ttf);
}
@font-face {
    font-family: NexaH;
    src: url(./Font/Nexa-Heavy.ttf);
}
@font-face {
    font-family: MontserratR;
    src: url(./Font/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratM;
    src: url(./Font/Montserrat-Medium.ttf);
}
@font-face {
    font-family: MontserratSB;
    src: url(./Font/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: MontserratB;
    src: url(./Font/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Sephora;
    src: url(./Font/Sephora.ttf);
}
@font-face {
    font-family: SephoraB;
    src: url(./Font/Sephora-Bold.ttf);
}
@font-face {
    font-family: Petrov;
    src: url(./Font/PetrovSans-Bold.ttf);
}

/* NAVBAR DESIGN */

.header {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    position: sticky;
    position: -webkit-sticky;
}

.header .navbar {
    height: 70px;
    display: flex;
    padding: 0 25px;
    align-items: center;
    background-color: #252525;
    justify-content: space-between;
}

.header .navbar .navbarLeft {
    display: flex;
    justify-content: center;
}

.header .navbar .navbarLeft p {
    font-size: 22px;
    font-family: MontserratB;
    background: -webkit-linear-gradient(0deg, #93BFCF 20%, #DED9C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .navbar .navbarRight {
    gap: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar .navbarRight a {
    gap: 10px;
    display: flex;
    font-size: 10px;
    color: #FFFFFF50;
    align-items: center;
    text-decoration: none;
    letter-spacing: 0.15px;
    transition: all 0.5s ease;
    font-family: MontserratM;
}

.header .navbar .navbarRight a.Active {
    color: #93BFCF;
}

.header .navbar .navbarRight a:hover {
    color: #93BFCF;
}

.header .navbar .navbarRight a:focus-within {
    outline: none;
}

.header .navbar .navbarRight a .markLine {
    width: 3px;
    height: 1.35vh;
    border-radius: 1.5px;
    background-color: #93BFCF;
}

.header .navbar .navbarRight a:last-child {
    font-size: 10px;
    color: #252525;
    padding: 6px 30px;
    border-radius: 4px;
    font-family: MontserratSB;
    background-color: #93BFCF;
}

.header .navbar .navbarRight a:last-child:hover {
    background-color: #74A0B0;
}

.header .navbar .dropDown {
    display: none;
    align-items: center;
    justify-content: center;
}

.header .navbar .dropDown {
    font-size: 20px;
    color: #FFFFFF75;
    transition: all 0.5s ease;    
}

.header .navbar .dropDown:hover {
    color: #93BFCF;
}

/* SUBHEADER DESIGN */

.subHeader {
    display: flex;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-between;
}

.subHeader .subHeaderLeft {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}


.subHeader .subHeaderLeft p:first-child {
    font-size: 10px;
    color: #C1C1C1;
    letter-spacing: 0.25px;
    font-family: MontserratM;
}

.subHeader .subHeaderLeft p:last-child {
    font-size: 24px;
    color: #74A0B0;
    margin-left: -1px;
    font-family: MontserratB;
}

.subHeader .subHeaderRight {
    gap: 5px;
    display: flex;
    align-items: center;
}

.subHeader .subHeaderRight form button {
    gap: 10px;
    display: flex;
    cursor: pointer;
    font-size: 12px;
    color: #93BFCF;
    padding: 8px 35px;
    border-radius: 6px;
    align-items: center;
    text-decoration: none;
    font-family: MontserratSB;
    transition: all 0.5s ease;
    border: solid 2.5px #93BFCF;
    background-color: transparent;
}

.subHeader .subHeaderRight form button i {
    font-size: 12px;
}

.subHeader .subHeaderRight form button:hover {
    color: #FFFFFF;
    background-color: #93BFCF;
}

.subHeader .subHeaderRight form button:focus-within {
    outline: none;
}

/* EQUIPMENT DESIGN */

.equipment {
    gap: 15px;
    display: flex;
    padding: 20px 25px;
    align-items: center;
    justify-content: space-between;
}

/* FORM EQUIPMENT DESIGN */

.equipment .formEquipment {
    width: 30%;
    height: 415px;
    display: flex;
    padding: 20px 25px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #10101025; 
}

.equipment .formEquipment .headerFormEquipment {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.equipment .formEquipment .headerFormEquipment  p:first-child {
    font-size: 14px;
    color: #252525;
    font-family: MontserratB;
}

.equipment .formEquipment .headerFormEquipment p:last-child {
    font-size: 10px;
    color: #C1C1C1;
    letter-spacing: 0.25px;
    font-family: MontserratM;
}

.equipment .formEquipment .lineFormEquipment {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #ECEDEC;
}

.equipment .formEquipment .contentFormEquipment {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 10px 0;
    align-items: start;
    flex-direction: column;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup {
    gap: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip {
    width: 100%;
    height: 30px;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip label {
    width: 100%;
    height: 100%;
    display: flex;
    cursor: pointer;
    font-size: 10px;
    color: #101010;
    border-radius: 6px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    font-family: MontserratSB;
    transition: all 0.25s ease;
    background-color: transparent;
    border: solid 1.5px #ECEDEC;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip label p {
    padding: 0 10px;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip label p:first-child {
    font-size: 10px;
    letter-spacing: 0.25px;
}
.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip label p:last-child {
    font-size: 8px;
    color: #C1C1C1;
    letter-spacing: 0.15px;
    font-family: MontserratM;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip label:hover {
    border-color: #93BFCF;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip input[type="checkbox"] {
    display: none;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .choiceChip input[type="checkbox"]:checked + label {
    color: #FFFFFF;
    background-color: #93BFCF;
    border: solid 1.5px transparent;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .alertMessage {
    gap: 5px;
    width: 100%;
    display: flex;
    font-size: 10px;
    color: #93BFCF;
    align-items: center;
    margin: 5px 0 0 5px;
    font-family: MontserratSB;
}

.equipment .formEquipment .contentFormEquipment .choiceChipGroup .equipmentButton {
    width: 100%;
    border: none;
    height: 30px;
    cursor: pointer;
    font-size: 10px;
    color: #FFFFFF;
    border-radius: 6px;
    letter-spacing: 0.25px;
    font-family: MontserratB;
    transition: all 0.5s ease;
    background-color: #93BFCF;
}

.equipment .formEquipment .contentFormEquipment .equipmentButton:hover {
    background-color: #74A0B0;
}

.equipment .formEquipment .contentFormEquipment .equipmentButton:active {
    transform: scale(0.99);
}

.equipment .formEquipment .contentFormEquipment .message {
    gap: 5px;
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 10px;
    margin-top: 10px;
    color: #60A578;
    border-radius: 6px;
    align-items: center;
    letter-spacing: 0.25px;
    justify-content: center;
    font-family: MontserratSB;
    background-color: #D4EADE;
}

/* TABLE EQUIPMENT DESIGN */

.equipment .tableEquipment {
    width: 100%;
    height: 415px;
    display: flex;
    padding: 20px 25px;
    align-items: start;
    border-radius: 10px;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #10101025;
}

.equipment .tableEquipment .headerTableEquipment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft p {
    font-size: 14px;
    color: #252525;
    font-family: MontserratB;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft .rangeDate {
    display: flex;
    align-items: center;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft .rangeDate p {
    font-size: 10px;
    color: #C1C1C1;
    letter-spacing: 0.25px;
    font-family: MontserratSB;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight {
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .inputRange {
    position: relative;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .inputRange label {
    top: -4px;
    left: 5px;
    padding: 0 5px;
    font-size: 8px;
    color: #252525;
    position: absolute;
    font-family: MontserratSB;
    background-color: #FFFFFF;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .inputRange input {
    width: 115px;
    display: flex;
    font-size: 10px;
    color: #C1C1C1;
    padding: 7px 8px;
    border-radius: 6px;
    justify-content: start;
    text-transform: uppercase;
    font-family: MontserratSB;
    background-color: transparent;
    border: solid 1.5px #ECEDEC;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .inputRange input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .inputRange input[type="date"]:focus-within {
    outline: none;
}

.equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight input[type="submit"] {
    cursor: pointer;
    font-size: 10px;
    color: #FFFFFF;
    padding: 7px 18px;
    border-radius: 6px;
    transition: all 0.5s ease;
    font-family: MontserratSB;
    background-color: #93BFCF;
    border: solid 1.5px #93BFCF;
}

.attendance .tableEquipment .headerTableEquipment .headerTableEquipmentRight input[type="submit"]:focus {
    outline: none;
}

.attendance .tableEquipment .headerTableEquipment .headerTableEquipmentRight input[type="submit"]:hover {
    background-color: #74A0B0;
    border: solid 1.5px #74A0B0;
}

.equipment .tableEquipment .lineTableEquipment {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: #ECEDEC;
}

.equipment .tableEquipment .contentTableEquipment {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

.equipment .tableEquipment .contentTableEquipment::-webkit-scrollbar {
    display: none;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox {
    width: 100%;
    display: flex;
    padding: 12px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ECEDEC;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser {
    width: 35%;
    height: 100%;
    display: flex;
    margin-left: 5px;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser p:first-child {
    font-size: 12px;
    color: #252525;
    font-family: MontserratB;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser p:last-child {
    font-size: 10px;
    color: #C1C1C1;
    letter-spacing: 0.25px;
    font-family: MontserratM;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity {
    gap: 5px;
    width: 65%;
    height: 100%;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: space-between;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .gap {
    font-size: 12px;
    color: #C1C1C1;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox p {
    width: 75%;
    padding: 4px 0;
    font-size: 10px;
    color: #252525;
    text-align: center;
    font-family: MontserratSB;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox:last-child {
    display: flex;
    justify-content: end;
}

.equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox:last-child p {
    border-radius: 4px;
    font-family: MontserratB;
}


@media only screen and (max-width: 1000px) {
    /* NAVBAR RESPONSIVE */
    .header .navbar .navbarLeft p {
        font-size: 20px;
    }
    .header .navbar .navbarRight {
        left: 0;
        top: 35px;
        opacity: 0;
        z-index: -1;  
        display: flex;
        margin: 0 15px;
        visibility: hidden;
        align-items: start;
        position: absolute;
        height: fit-content;
        flex-direction: column;
        padding: 40px 30px 25px;
        transition: all 0.5s ease;
        background-color: #252525;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 5px #252525;
    }
    .header .navbar .navbarRight a {
        margin: 0 auto;
    }
    .header .navbar .navbarRight.Active {
        top: 65px;
        opacity: 1;
        visibility: visible;
    }
    .header .navbar .dropDown {
        display: flex;
    }
    .header .navbar .dropDown.Active {
        color: #93BFCF;
    }
    /* SUBHEADER RESPONSIVE */
    .subHeader {
        gap: 10px;
        align-items: start;
        flex-direction: column;
    }
    .subHeader .subHeaderLeft p:last-child {
        font-size: 18px;
    }
    .subHeader .subHeaderRight {
        flex-direction: column;
    }
    /* EQUIPMENT RESPONSIVE */
    .equipment {
        flex-wrap: wrap;
    }
    .equipment .formEquipment {
        width: 100%;
    }
    .equipment .formEquipment .headerFormEquipment p:first-child {
        font-size: 12px;
    }
    .equipment .formEquipment .headerFormEquipment p:last-child {
        font-size: 8px;
    }
    .equipment .formEquipment .contentFormEquipment .choiceChipGroup .alertMessage {
        font-size: 8px;
    }
    .equipment .tableEquipment {
        width: 100%;
    }
    .equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft  p {
        font-size: 12px;
    }   
    .equipment .tableEquipment .headerTableEquipment .headerTableEquipmentLeft .rangeDate p {
        font-size: 8px;
    }
    .equipment .tableEquipment .headerTableEquipment .headerTableEquipmentRight .searchInput {
        display: none;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser {
        width: 50%;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser p:first-child {
        font-size: 10px;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .infoUser p:last-child {
        font-size: 8px;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity {
        width: 50%;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox p {
        font-size: 8px;
    }
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .gap:nth-child(2),
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .gap:nth-child(6),
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox:first-child,
    .equipment .tableEquipment .contentTableEquipment .equipmentBox .equipmentActivity .equipmentActivityBox:last-child {
        display: none;
    }
}